*~
*#
*.swp
*.iml
*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

*.coverage
/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache
/.vscode

/doc/_apidoc/
/build

.venv
.venv/

.attach_*

dist/

.idea

.kiro/

**/build/
**/*.zip
packages/async-durable-execution-examples/template.yaml
**/template.generated.json

.env
*.egg-info
